{% extends "src/layout.html" %}
<!-- -->
{% import "src/partials/header.html" as header %}
<!-- -->
{% block content %}
<!-- -->
{{ header.headerInfo('await-code-page-banner', '') }}
<!-- -->
<div class="flex-grow mx-6">
  <div class="card bg-gray-100 dark:bg-gray-700 relative">
    <div class="card-body">
      <h3 class="card-title">Enter code</h3>

      <section class="mt-2 mx-4">
        <p>
          An email has been sent to you with a one-time code. Please enter it
          below to finish the sign-in process.
        </p>
        <p>If you didn't receive an email, please check your spam folder.</p>
        <p>This code will expire in 20 minutes.</p>
      </section>

      <!-- <form action="https://html-sign-in.pages.dev/api/auth/submit-code" method="POST"> PRODUCTION:UNCOMMENT -->
      {# PRODUCTION:REMOVE-NEXT-LINE #}
      <form action="http://localhost:8788/api/auth/submit-code" method="POST">
        <label for="code" class="label">
          <span class="label-text">Sign-in code from email:</span>
        </label>

        <input
          id="code"
          name="code"
          type="number"
          placeholder="code"
          class="input input-bordered input-primary w-full max-w-xs"
          data-testid="code-input"
        />

        <div class="card-actions justify-between mt-4">
          <a href="/" class="btn btn-ghost" data-testid="cancel-sign-in-link">
            Cancel sign in
          </a>

          <input
            type="submit"
            class="btn btn-primary"
            data-testid="submit-button"
          />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
